{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.operation_list'|trans }}
{% endblock %}

{% block body %}

    {% if app.user %}

        {% if is_granted('ROLE_USER') %}

            <header class="d-flex justify-content-center align-content-center pb-4">

                <div class="mx-3">
                    <h1 class="display-1">{{ 'title.operation_list'|trans }}</h1>
                </div>

                <div class="d-flex h-25 align-self-center mx-3">
                    <a href="{{ url('operation_create') }}"
                       title="{{ 'action.create'|trans }}"
                       class=" btn btn-outline-info mt-3"
                    >
                        {{ 'action.create'|trans }}
                    </a>
                </div>

            </header>

            <div class="container-fluid d-flex justify-content-around my-3">
                <form action="{{ path('operation_index') }}" name="search" role="search" class="d-flex">
                    <input name="filters.operation_title"
                           type="search"
                           placeholder={{ 'action.search'|trans }} aria-label="Search"
                           class="form-control me-2"
                    >
                    <button
                            class="btn btn-outline-success"
                            type="submit">{{ 'action.search'|trans }}
                    </button>
                </form>

                <form action="{{ path('operation_index') }}" class="d-flex">
                    <input name="filters.operation_date_from"
                           type="date"
                           aria-label="Search"
                           class="form-control me-2"
                    >
                    <input name="filters.operation_date_to"
                           type="date"
                           aria-label="Search"
                           class="form-control me-2"
                    >
                    <button
                            class="btn btn-outline-success"
                            type="submit">{{ 'action.search'|trans }}
                    </button>
                </form>
            </div>
        {% endif %}

    {% endif %}

    {% if pagination is defined and pagination.items|length %}

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>


        <table class="table">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'label.id'|trans, 'operation.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.created_at'|trans, 'operation.createdAt') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.updated_at'|trans, 'operation.updatedAt') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.title'|trans, 'operation.title') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.amount'|trans, 'operation.amount') }}</th>
                <th>{{ 'label.category'|trans }}</th>
                <th>{{ 'label.tags'|trans }}</th>
                <th>{{ 'label.wallet'|trans }}</th>
                <th>{{ 'label.author'|trans }}</th>
                <th>{{ 'label.actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for operation in pagination.items %}
                <tr>
                    <td>{{ operation.id }}</td>
                    <td>{{ operation.createdAt|format_date('long') }}</td>
                    <td>{{ operation.updatedAt|format_date('long') }}</td>
                    <td>{{ operation.title }}</td>
                    <td>{{ operation.amount }}</td>
                    <td>
                        <a href="{{ url('operation_index', {'filters.category_id' : operation.category.id}) }}"
                           title="{{ operation.category.title }}">
                            {{ operation.category.title }}
                        </a>
                    </td>
                    <td>
                        {% if operation.tags is defined and operation.tags|length %}
                            {% for tag in operation.tags %}
                                <a href="{{ url('operation_index', {'filters.tag_id' : tag.id}) }}"
                                   title="{{ tag.title }}">
                                    {{ tag.title }}
                                </a>
                            {% endfor %}
                        {% else %}
                            &nbsp;
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ url('operation_index', {'filters.wallet_id' : operation.wallet.id}) }}"
                           title="{{ operation.wallet.title }}">
                            {{ operation.wallet.title }}
                        </a>
                    </td>
                    <td>{{ operation.author.email }}</td>
                    <td>
                        {% if is_granted('VIEW', operation ) %}
                            <a href="{{ url('operation_show', {id: operation.id}) }}" title="{{ 'action.show'|trans }}">
                                <button class="btn btn-sm btn-outline-dark">
                                    {{ 'action.show'|trans }}
                                </button>
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <p class="text-center display-2 mt-5">
            {{ 'message.empty_list'|trans }}
        </p>
        <p class="text-center display-5 mt-5">
            {{ 'message.no_operations_create_wallet'|trans }}
            <a href="{{ url('wallet_create') }}">
                <button class="btn btn-outline-success">
                {{ 'action.create_wallet'|trans }}
                </button>
            </a>
        </p>

    {% endif %}
{% endblock %}