{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.operation_list'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.operation_list'|trans }}</h1>
    {% if pagination is defined and pagination.items|length %}

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'label.id'|trans, 'operation.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.created_at'|trans, 'operation.createdAt') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.updated_at'|trans, 'operation.updatedAt') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.title'|trans, 'operation.title') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.amount'|trans, 'operation.amount') }}</th>
                <th>{{ 'label.category'|trans }}</th>
                <th>{{ 'label.tags'|trans }}</th>
                <th>{{ 'label.wallet'|trans }}</th>
                <th>{{ 'label.author'|trans }}</th>
                <th>{{ 'label.actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for operation in pagination.items %}
                <tr>
                    <td>{{ operation.id }}</td>
                    <td>{{ operation.createdAt|format_date('long') }}</td>
                    <td>{{ operation.updatedAt|date('Y/m/d') }}</td>
                    <td>{{ operation.title }}</td>
                    <td>{{ operation.amount }}</td>
                    <td>
                        <a href="{{ url('operation_index', {'filters.category_id' : operation.category.id}) }}" title="{{ operation.category.title }}">
                            {{ operation.category.title }}
                        </a>
                    </td>
                    <td>
                        {% if operation.tags is defined and operation.tags|length %}
                            {% for tag in operation.tags %}
                                <a href="{{ url('operation_index', {'filters.tag_id' : tag.id}) }}" title="{{ tag.title }}">
                                    {{ tag.title }}
                                </a>
                            {% endfor %}
                        {% else %}
                            &nbsp;
                        {% endif %}
                    </td>
                    <td>{{ operation.wallet.title }}</td>
                    <td>{{ operation.author.email }}</td>
                    <td>
                        {% if is_granted('VIEW', operation ) %}
                        <a href="{{ url('operation_show', {id: operation.id}) }}" title="{{ 'action.show'|trans }}">
                            {{ 'action.show'|trans }}
                        </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <p>
            {{ 'message.empty_list'|trans }}
        </p>
    {% endif %}
{% endblock %}