{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.operation_details'|trans({'%id%': operation.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ operation.title }}</h1>
    {% if operation is defined and operation|length %}
        <dl class="dl-horizontal">
            <dt>{{ 'label.id'|trans }}</dt>
            <dd>{{ operation.id }}</dd>
            <dt>{{ 'label.created_at'|trans }}</dt>
            <dd>{{ operation.createdAt|date('Y/m/d') }}</dd>
            <dt>{{ 'label.updated_at'|trans }}</dt>
            <dd>{{ operation.updatedAt|date('Y/m/d') }}</dd>
            <dt>{{ 'label.title'|trans }}</dt>
            <dd>{{  operation.title }}</dd>
            <dt>{{ 'label.category'|trans }}</dt>
            <dd>{{  operation.category.title }}</dd>
            <dt>{{ 'label.tag'|trans }}</dt>
            <dd>
                {% if operation.tags is defined and operation.tags|length %}
                    <ul>
                        {% for tag in operation.tags %}
                            <li>
                                {{ tag.title }}
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    -
                {% endif %}
            </dd>
        </dl>
        <p>
            <a href="{{ url('operation_index') }}" title="{{ 'action.back_to_list'|trans }}">
                {{ 'action.back_to_list'|trans }}
            </a>
            {% if is_granted('EDIT', operation) %}
            <a href="{{ url('operation_edit', {'id': operation.id}) }}" title="{{ 'action.edit'|trans }}">
                {{ 'action.edit'|trans }}
            </a>
            {% endif %}
            {% if is_granted('DELETE', operation) %}
            <a href="{{ url('operation_delete', {'id': operation.id}) }}" title="{{ 'action.delete'|trans }}">
                {{ 'action.delete'|trans }}
            </a>
            {% endif %}
        </p>
    {% else %}
        <p>
            {{ 'message.record_not_found'|trans }}
        </p>
    {% endif %}
{% endblock %}