{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.user_list'|trans }}
{% endblock %}

{% block body %}
    <header class="d-flex justify-content-center align-content-center pb-4">

        <div class="mx-3">
            <h1 class="display-1">{{ 'title.user_list'|trans }}</h1>
        </div>

        {#        <div class="d-flex h-25 align-self-center mx-3"> #}
        {#            <a href="{{ url('user_create') }}" #}
        {#               title="{{ 'action.create'|trans }}" #}
        {#               class=" btn btn-outline-info mt-3" #}
        {#            > #}
        {#                {{ 'action.create'|trans }} #}
        {#            </a> #}
        {#        </div> #}

    </header>
    {% if pagination is defined and pagination.items|length %}

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>
        <table class="table">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'label.id'|trans, 'user.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.email'|trans, 'user.email') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.roles'|trans, 'user.roles') }}</th>
                <th>{{ 'label.actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for u in pagination.items %}
                <tr>
                    <td>{{ u.id }}</td>
                    <td>{{ u.email }}</td>
                    {% if 'ROLE_ADMIN' in  u.roles|json_encode() %}
                        <td>{{ 'title.admin'|trans }}</td>
                    {% else %}
                        <td>{{ 'title.user'|trans }}</td>
                    {% endif %}
                    <td>
                        <a href="{{ url('user_show', {id: u.id}) }}" title="{{ 'action.view'|trans }}">
                            <button class="btn btn-sm btn-outline-dark">
                                {{ 'action.view'|trans }}
                            </button>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        {% include 'default/_single_alert_message.html.twig' with {
            type: 'warning',
            message: 'message.empty_list'|trans
        } %}
    {% endif %}
    {#    <div class="btn btn-light"> #}
    {#        <a href="{{ url('user_create') }}" title="{{ 'action.create'|trans }}"> #}
    {#            {{ 'action.create'|trans }}</a> #}
    {#    </div> #}
{% endblock %}