{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.user_details'|trans({'%id%': user.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.user_details'|trans({'%id%': user.id|default('')}) }}</h1>
    {% if user is defined and user|length %}
        <dl class="dl-horizontal">
            <dt>{{ 'label.id'|trans }}</dt>
            <dd>{{ user.id }}</dd>
            <dt>{{ 'label.firstname'|trans }}</dt>
            <dd>{{ user.firstname }}</dd>
            <dt>{{ 'label.lastname'|trans }}</dt>
            <dd>{{ user.lastname }}</dd>
            <dt>{{ 'label.roles'|trans }}</dt>
            {% if 'ROLE_ADMIN' in  user.roles|json_encode() %}
                <td>{{ 'title.admin'|trans  }}</td>
            {% else %}
                <td>{{ 'title.user'|trans }}</td>
            {% endif %}
            <dt>{{ 'label.email'|trans }}</dt>
            <dd>{{ user.email }}</dd>

        </dl>
        {%  if is_granted('ROLE_ADMIN') %}
        <p>
            <a href="{{ url('user_index') }}" title="{{ 'action.back_to_list'|trans }}">
                {{ 'action.back_to_list'|trans }}
            </a>
        </p>
        {% endif %}
        <div class="btn btn-light">
            <a href="{{ url('user_edit', {id: user.id}) }}" title="{{ 'action.edit'|trans }}">
                {{ 'action.edit'|trans }}</a>
        </div>
        <div class="btn btn-light">
            <a href="{{ url('user_edit_password', {id: user.id}) }}" title="{{ 'action.edit_password'|trans }}">
                {{ 'action.edit_password'|trans }}</a>
        </div>
        {%  if is_granted('ROLE_ADMIN') %}
            <div class="btn btn-light">
                <a href="{{ url('user_edit_role', {id: user.id}) }}" title="{{ 'action.edit_role'|trans }}">
                    {{ 'action.edit_role'|trans }}</a>
            </div>
        {% endif %}
        <div class="btn btn-light">
            <a href="{{ url('user_delete', {id: user.id}) }}" title="{{ 'action.delete'|trans }}">
                {{ 'action.delete'|trans }}</a>
        </div>
    {% else %}
        <p>
            {{ 'message.record_not_found'|trans }}
        </p>
    {% endif %}
{% endblock %}