{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.report_list'|trans }}
{% endblock %}

{% block body %}

    <header class="d-flex justify-content-center align-content-center pb-4">

        <div class="mx-3">
            <h1 class="display-1">{{ 'title.report_list'|trans }}</h1>
        </div>

        <div class="d-flex h-25 align-self-center mx-3">
            <a href="{{ url('report_create') }}"
               title="{{ 'action.create'|trans }}"
               class=" btn btn-outline-info mt-3"
            >
                {{ 'action.create'|trans }}
            </a>
        </div>

    </header>
    {% if pagination is defined and pagination.items|length %}

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

        <table class="table">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'label.id'|trans, 'report.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.created_at'|trans, 'report.createdAt') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.updated_at'|trans, 'report.updatedAt') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.title'|trans, 'report.title') }}</th>
                <th>{{ 'label.author'|trans }}</th>
                <th>{{ 'label.actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for report in pagination.items %}
                <tr>
                    <td>{{ report.id }}</td>
                    <td>{{ report.createdAt|format_date('long') }}</td>
                    <td>{{ report.updatedAt|format_date('long') }}</td>
                    <td>{{ report.title }}</td>
                    <td>{{ report.author.email }}</td>
                    <td>
                        {% if is_granted('VIEW', report ) %}
                            <a href="{{ url('report_show', {id: report.id}) }}" title="{{ 'action.show'|trans }}">
                                <button class="btn btn-sm btn-outline-dark">
                                    {{ 'action.show'|trans }}
                                </button>
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <p class="text-center display-2 mt-5">
            {{ 'message.empty_list'|trans }}
        </p>
    {% endif %}
{% endblock %}