{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.tag_list'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.tag_list'|trans }}</h1>
    {% if pagination is defined and pagination.items|length %}

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'label.id'|trans, 'tag.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.title'|trans, 'tag.title') }}</th>
                <th>{{ 'label.actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for tag in pagination.items %}
                <tr>
                    <td>{{ tag.id }}</td>
                    <td>{{ tag.title }}</td>
                    <td>
                        <a href="{{ url('tag_show', {id: tag.id}) }}" title="{{ 'action.show'|trans }}">
                            {{ 'action.show'|trans }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <p>
            {{ 'message.empty_list'|trans }}
        </p>
    {% endif %}
{% endblock %}